.App {
  background-color: white;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 2em;;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.GalleryDisplay {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  width: 100%;
  margin: 5% 0;
  justify-content: center;
  text-align: center;
}

.GalleryItem {
  width: 25%;
  padding: 2rem;
  font-size: small;
}

.GalleryItem img {
  width: 75%;
}
